@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style-type: circle;
}

li {
  margin-top: 4px;
}

li::marker {
  color: black;
}

.app-banner {
  background: url("../../public/images/banner.jpeg") no-repeat center
    center/cover;
  max-width: 100vw;
  height: 680px;
  text-align: center;
  padding: 3rem 1rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .app-banner {
    height: 560px;
  }
}
