@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: circle;
}

li {
  margin-top: 4px;
}

li::marker {
  color: black;
}